mixin buttons()
	+b.buttons&attributes(attributes)

		+b('a').button._default(href='#button') Кнопка
		+b('a').button._style-second(href='#button') Большая кнопка
		+b('a').button._style-third(href='#button') Маленькая кнопка

