mixin slider-bx()
	+b.slider-bx&attributes(attributes)
		+e('ul').list.bxslider
			+e('li').item
				+e('img').image(src='//unsplash.it/1920/800' alt='image')
			+e('li').item
				+e('img').image(src='//unsplash.it/1920/800' alt='image')
			+e('li').item
				+e('img').image(src='//unsplash.it/1920/800' alt='image')
			+e('li').item
				+e('img').image(src='//unsplash.it/1920/800' alt='image')
			+e('li').item
				+e('img').image(src='//unsplash.it/1920/800' alt='image')
			+e('li').item
				+e('img').image(src='//unsplash.it/1920/800' alt='image')

