mixin menu-responsive()
	+b.menu-responsive&attributes(attributes)
		+e('nav').nav
			+e('a').button(href='#button') Меню

			+e('ul').list
				+e('li').item
					+e('a').link(href='#') Ссылка

					+b.submenu-responsive
						+e('ul').list
							+e('li').item
								+e('a').link(href='#link') 2 Уровень
							+e('li').item
								+e('a').link(href='#link') 2 Уровень
							+e('li').item
								+e('a').link(href='#link') 2 Уровень
							+e('li').item
								+e('a').link(href='#link') 2 Уровень
							+e('li').item
								+e('a').link(href='#link') 2 Уровень
							+e('li').item
								+e('a').link(href='#link') 2 Уровень

				+e('li').item
					+e('a').link(href='#') Ссылка

					+b.submenu-responsive
						+e('ul').list
							+e('li').item
								+e('a').link(href='#link') 2 Уровень
							+e('li').item
								+e('a').link(href='#link') 2 Уровень
							+e('li').item
								+e('a').link(href='#link') 2 Уровень
							+e('li').item
								+e('a').link(href='#link') 2 Уровень
							+e('li').item
								+e('a').link(href='#link') 2 Уровень
							+e('li').item
								+e('a').link(href='#link') 2 Уровень
				+e('li').item
					+e('a').link(href='#') Ссылка

					+b.submenu-responsive
						+e('ul').list
							+e('li').item
								+e('a').link(href='#link') 2 Уровень
							+e('li').item
								+e('a').link(href='#link') 2 Уровень
							+e('li').item
								+e('a').link(href='#link') 2 Уровень
							+e('li').item
								+e('a').link(href='#link') 2 Уровень
							+e('li').item
								+e('a').link(href='#link') 2 Уровень
							+e('li').item
								+e('a').link(href='#link') 2 Уровень
				+e('li').item
					+e('a').link(href='#') Ссылка

					+b.submenu-responsive
						+e('ul').list
							+e('li').item
								+e('a').link(href='#link') 2 Уровень
							+e('li').item
								+e('a').link(href='#link') 2 Уровень
							+e('li').item
								+e('a').link(href='#link') 2 Уровень
							+e('li').item
								+e('a').link(href='#link') 2 Уровень
							+e('li').item
								+e('a').link(href='#link') 2 Уровень
							+e('li').item
								+e('a').link(href='#link') 2 Уровень
				+e('li').item
					+e('a').link(href='#') Ссылка

					+b.submenu-responsive
						+e('ul').list
							+e('li').item
								+e('a').link(href='#link') 2 Уровень
							+e('li').item
								+e('a').link(href='#link') 2 Уровень
							+e('li').item
								+e('a').link(href='#link') 2 Уровень
							+e('li').item
								+e('a').link(href='#link') 2 Уровень
							+e('li').item
								+e('a').link(href='#link') 2 Уровень
							+e('li').item
								+e('a').link(href='#link') 2 Уровень
				+e('li').item
					+e('a').link(href='#') Ссылка

					+b.submenu-responsive
						+e('ul').list
							+e('li').item
								+e('a').link(href='#link') 2 Уровень
							+e('li').item
								+e('a').link(href='#link') 2 Уровень
							+e('li').item
								+e('a').link(href='#link') 2 Уровень
							+e('li').item
								+e('a').link(href='#link') 2 Уровень
							+e('li').item
								+e('a').link(href='#link') 2 Уровень
							+e('li').item
								+e('a').link(href='#link') 2 Уровень
