.range-slider
	position relative
	display inline-block
	font-size 14px
	color #000
	&__slider
		margin-bottom 10px
		height 10px
		background #CCC

	.ui-slider-handle
		position absolute
		top 0
		margin-left -6px
		display block
		size(10px)
		background #E8E8E8
		cursor pointer
	.ui-slider-range
		position relative
		margin-bottom 10px
		height 10px
		background #B2DAF2

	// &__price-w

	// &__price-from

	// &__price-to

	// &__input-w

	// &__input-from

	// &__input-to

	// &__label

	// &__input

