.in
	margin auto
	padding-left 15px
	padding-right 15px
	min-width 240px

.page
	&__row
		font-size 0
		clearfix()
	&__in
		@extend .in

// Typography

p
	margin-top 10px
	margin-bottom 10px
	font-size 18px
