// BUTTONS


// button default
$button-bg-light = #ccc;
$button-text-dark = #000;

// button big

$button-bg-big = #2196f3;
$button-text-big = #fff;

// button small

$button-bg-small = #00bcd4;
$button-text-small = #fff;
