mixin automaticgrid()
	+b.automaticgrid&attributes(attributes)
		+e.item-sizer
		+e.item._wide
			+e.thumbs
				+e('img').thumb(src='//unsplash.it/600/400')
				+e('img').thumb(src='//unsplash.it/600/400')
				+e('img').thumb(src='//unsplash.it/600/400')
			+e.title Title
			+e.desc short description
		+e.item
			+e.thumbs
				+e('img').thumb(src='//unsplash.it/600/400')
				+e('img').thumb(src='//unsplash.it/600/400')
				+e('img').thumb(src='//unsplash.it/600/400')
			+e.title Title
			+e.desc short description
		+e.item._half
			+e.thumbs
				+e('img').thumb(src='//unsplash.it/600/400')
				+e('img').thumb(src='//unsplash.it/600/400')
				+e('img').thumb(src='//unsplash.it/600/400')
			+e.title Title
			+e.desc short description
		+e.item._half
			+e.thumbs
				+e('img').thumb(src='//unsplash.it/600/400')
				+e('img').thumb(src='//unsplash.it/600/400')
				+e('img').thumb(src='//unsplash.it/600/400')
			+e.title Title
			+e.desc short description
		+e.item
			+e.thumbs
				+e('img').thumb(src='//unsplash.it/600/400')
				+e('img').thumb(src='//unsplash.it/600/400')
				+e('img').thumb(src='//unsplash.it/600/400')
			+e.title Title
			+e.desc short description


