.automaticgrid
	position relative
	&__item-sizer
		width 50%
	&__item
		margin-bottom 30px
		width 50%
	&__item_wide
		width 75%
	&__item_half
		width 25%
	&__item_long
		height 400px
	&__thumbs
		margin-bottom 10px
		height 300px
		overflow hidden
	&__thumb
		max-width 100%
		height auto
	&__title
		margin-bottom 10px
		font-size 18px
		color #2196f3
	&__desc
		font-size 14px
		color #607D8B
