mixin menu-justified()
	+b.menu-justified&attributes(attributes)
		+e('nav').nav
			+e('ul').list
				+e('li').item
					+e('a').link(href='#') Ссылка большая
				+e('li').item
					+e('a').link(href='#') Ссылка
				+e('li').item
					+e('a').link(href='#') Ссылка
				+e('li').item
					+e('a').link(href='#') Ссылка
				+e('li').item
					+e('a').link(href='#') Ссылка
				+e('li').item
					+e('a').link(href='#') Ссылка


