.tabs
	&__nav
		font-size 0
		clearfix()
	&__link
		padding 10px 20px
		display inline-block
		vertical-align top
		font-size 14px
		color #000
		&:hover
			text-decoration none
	&__link_active
		text-decoration none
	// &__content

	&__tab
		display none
	&__tab_active
		display block
		font-size 14px
		color #000
