mixin carousel-owl()
	+b.carousel-owl&attributes(attributes)
		+e('ul').list.owl-carousel
			+e('li').item
				+e('img').image(src='//unsplash.it/200/300' alt='image')
			+e('li').item
				+e('img').image(src='//unsplash.it/200/300' alt='image')
			+e('li').item
				+e('img').image(src='//unsplash.it/200/300' alt='image')
			+e('li').item
				+e('img').image(src='//unsplash.it/200/300' alt='image')
			+e('li').item
				+e('img').image(src='//unsplash.it/200/300' alt='image')
