.gallery
	display block
	font-size 14px
	color #000
	&__section-title
		hide-text()
	&__list
		font-size 0
		clearfix()
	&__item
		margin-bottom 30px
		// margin-right 30px
		display inline-block
		vertical-align top
		width 33.3%

	&__image
		margin-bottom 10px
		max-width 100%
		height auto
		display block
	&__title
		font-size remify(18px)


@css {




}
