.spinner
	display inline-block
	vertical-align top
	&__input
		border 1px solid #ccc
		padding 10px
		width 100px
		height 50px
		font-size 14px
		color #000
	&__buttons
		position relative
		display inline-block
		vertical-align top
		font-size 20px
		text-align center
		z-index 1
	&__button
		display block
		size(25px)
		background #ccc
		cursor pointer
		user-select none

	// &__button_up

	// &__button_down

